## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.dll
*.pdb
*.exe

## Visual Studio
.vs/
*.cache
*.rsuser

## NuGet
packages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## OS
.DS_Store
Thumbs.db
.claude/
